.seccions-chat {
  width: 80%;
  height: 85vh;
  background-color: $Color-White;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
  background-color: $Color-Platinum;
  border-radius: 0px 0px 10px 10px;
  // outline: 1px solid red;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.chat {
  margin-left: 20px;
  .text {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .mesaje {
      background-color: $Color-Oxford;
      margin-bottom: 15px;
      margin-right: 40%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 0vh 2vh 2vh 2vh;
      height: 100%;

      h1 {
        width: 100%;
        color: $Color-White;
        font-size: 15px;
        margin: 10px;
      }
    }
  }
}

.contain-form {
  position: absolute;
  top: 93vh;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: $Color-White;
  // outline: 1px solid red;

  input {
    width: 95%;
    height: 40px;
    font-family: $Font;
    padding-left: 10px;
    overflow-wrap: break-word;
    background-color: $Color-Platinum;
    outline: none;
    border: none;
    border-radius: 20px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: unset;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: $Color-Platinum;
    transition: 100ms;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
    }

    &:active{
      transform: scale(1.5);
    }
  }
}
