.defect {
  width: 80%;
  height: 90vh;
  background-color: $Color-White;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  img {
    width: 50%;
    height: 50%;
  }
}
