.contat-seccions {
  width: 100%;
  display: flex;
  justify-content: center;
  
  .seccions {
    width: 80%;
    height: 85vh;
    background-color: $Color-White;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    // outline: 1px solid red;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
